
.blogbox{
    width: 18rem;
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin: 3rem 3rem 0rem 3rem;
    overflow: hidden;
   
    
    border-radius: 20px;
    /* border: solid 0.5px #ffffff; */
   
    text-align: center;
    background-color: #ffffff;
    /* border: 2px dashed; */
    border-color:#00dbd0 ;
    
    
}
.ractanglebox :hover{
background-color:#00dbd0 ;
color: #ffffff;
transition: all 1s ease-in-out;
}

img{
    height: 60%;
    width: 100%;
    justify-content: center;
} 
.blogbox a{
    color: rgb(126, 125, 125);
}